apturl==0.5.2
beautifulsoup4==4.4.1
Brlapi==0.6.4
chardet==2.3.0
chrome-gnome-shell==0.0.0
command-not-found==0.3
cycler==0.9.0
decorator==4.0.6
defer==1.0.6
geopy==1.11.0
h5py==2.7.0
html5lib==0.999
joblib==0.9.4
Keras==1.1.0
language-selector==0.1
louis==2.6.4
lxml==3.5.0
Mako==1.0.3
MarkupSafe==0.23
matplotlib==1.5.1
nose==1.3.7
numexpr==2.4.3
numpy==1.11.0
pandas==0.17.1
pexpect==4.0.1
Pillow==3.1.2
protobuf==3.3.0
ptyprocess==0.5
pycups==1.9.73
pycurl==7.43.0
pygobject==3.20.0
pyparsing==2.0.3
python-apt==1.1.0b1
python-dateutil==2.4.2
python-debian==0.1.27
python-systemd==231
pytz==2014.10
pyxdg==0.25
PyYAML==3.12
redis==2.10.5
reportlab==3.3.0
requests==2.9.1
scikit-learn==0.17
scipy==0.17.0
screen-resolution-extra==0.0.0
sessioninstaller==0.0.0
simplejson==3.8.1
six==1.10.0
system-service==0.3
tables==3.2.2
tensorflow-gpu==0.12.1
Theano==0.9.0
typecatcher==0.2
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.13.1
usb-creator==0.3.0
virtualenv==15.0.1
Werkzeug==0.12.1
xdiagnose==3.8.4.1
xkit==0.0.0
